{{ page.title }}      
{% if customer and customer.tags contains 'admin' %}

<div id="collSplitter_view">Loading...</div>
<button id="collSplitter_submit">Split selected</button><span> max collection size: </span><input id="collSplitter_max" type="number" value="5">

<script src="https://rawgit.com/Zyox-zSys/Shopify_collSplitter/master/Shopify_collSplitter.js"></script>

<style>

#collSplitter_view {width: 100%;}

#collSplitter_view > .shopifyCollection {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 2px solid #222;
  border-radius: 0.5rem;
}

#collSplitter_view > .shopifyCollection > * {margin: 0.5rem;}

#collSplitter_view > .shopifyCollection > span {
  flex: auto;
  text-align: center;
}

#collSplitter_max {width: 5rem;}

</style>

{% endif %}
{{ page.content }}
